USE [SistemaAlarmaMedicaBD]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 30/10/2025 23:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[EspecialidadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Detalles] [nvarchar](max) NULL,
 CONSTRAINT [PK_Especialidades] PRIMARY KEY CLUSTERED 
(
	[EspecialidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineaOrdenMedicas]    Script Date: 30/10/2025 23:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineaOrdenMedicas](
	[LineaOrdenMedicaId] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[NumeroRegistro] [nvarchar](max) NOT NULL,
	[FrecuenciaHoras] [int] NULL,
	[OrdenMedicaId] [int] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Observacion] [nvarchar](max) NULL,
	[UnicaAplicacion] [bit] NOT NULL,
	[TratamientoEmpezado] [bit] NOT NULL,
 CONSTRAINT [PK_LineaOrdenMedicas] PRIMARY KEY CLUSTERED 
(
	[LineaOrdenMedicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 30/10/2025 23:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[MedicoId] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Matricula] [nvarchar](max) NOT NULL,
	[EspecialidadId] [int] NOT NULL,
 CONSTRAINT [PK_Medicos] PRIMARY KEY CLUSTERED 
(
	[MedicoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenMedicas]    Script Date: 30/10/2025 23:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenMedicas](
	[OrdenMedicaId] [int] IDENTITY(1,1) NOT NULL,
	[PacienteId] [int] NOT NULL,
	[MedicoId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[ObraSocial] [int] NULL,
	[EntregadaAlPaciente] [bit] NOT NULL,
 CONSTRAINT [PK_OrdenMedicas] PRIMARY KEY CLUSTERED 
(
	[OrdenMedicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 30/10/2025 23:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[PacienteId] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [int] NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[PacienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 30/10/2025 23:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[TurnoId] [int] IDENTITY(1,1) NOT NULL,
	[PacienteId] [int] NOT NULL,
	[MedicoId] [int] NOT NULL,
	[FechaTurno] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Turnos] PRIMARY KEY CLUSTERED 
(
	[TurnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/10/2025 23:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Contrasena] [nvarchar](max) NOT NULL,
	[TipoUsuario] [int] NULL,
	[Activo] [bit] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[GoogleId] [nvarchar](max) NULL,
	[MedicoId] [int] NULL,
	[PacienteId] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LineaOrdenMedicas] ADD  DEFAULT (N'') FOR [Nombre]
GO
ALTER TABLE [dbo].[LineaOrdenMedicas] ADD  DEFAULT (CONVERT([bit],(0))) FOR [UnicaAplicacion]
GO
ALTER TABLE [dbo].[LineaOrdenMedicas] ADD  DEFAULT (CONVERT([bit],(0))) FOR [TratamientoEmpezado]
GO
ALTER TABLE [dbo].[Turnos] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[LineaOrdenMedicas]  WITH CHECK ADD  CONSTRAINT [FK_LineaOrdenMedicas_OrdenMedicas_OrdenMedicaId] FOREIGN KEY([OrdenMedicaId])
REFERENCES [dbo].[OrdenMedicas] ([OrdenMedicaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineaOrdenMedicas] CHECK CONSTRAINT [FK_LineaOrdenMedicas_OrdenMedicas_OrdenMedicaId]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Especialidades_EspecialidadId] FOREIGN KEY([EspecialidadId])
REFERENCES [dbo].[Especialidades] ([EspecialidadId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_Especialidades_EspecialidadId]
GO
ALTER TABLE [dbo].[OrdenMedicas]  WITH CHECK ADD  CONSTRAINT [FK_OrdenMedicas_Medicos_MedicoId] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medicos] ([MedicoId])
GO
ALTER TABLE [dbo].[OrdenMedicas] CHECK CONSTRAINT [FK_OrdenMedicas_Medicos_MedicoId]
GO
ALTER TABLE [dbo].[OrdenMedicas]  WITH CHECK ADD  CONSTRAINT [FK_OrdenMedicas_Pacientes_PacienteId] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Pacientes] ([PacienteId])
GO
ALTER TABLE [dbo].[OrdenMedicas] CHECK CONSTRAINT [FK_OrdenMedicas_Pacientes_PacienteId]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Medicos_MedicoId] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medicos] ([MedicoId])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Medicos_MedicoId]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Pacientes_PacienteId] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Pacientes] ([PacienteId])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Pacientes_PacienteId]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Medicos_MedicoId] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medicos] ([MedicoId])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Medicos_MedicoId]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Pacientes_PacienteId] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Pacientes] ([PacienteId])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Pacientes_PacienteId]
GO
